{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Contact Us {% endblock %}</h1>

<p>You could send us your email directly at: <a href="mailto:the.scandal.sandal@gmail.com">the.scandal.sandal@gmail.com</a>,
    or fill out the form below.</p>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" name="name"
               placeholder="Peter Johnson Jr." class="form-control"
               value="{{ name }}"/>
    </div>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input id="subject" type="text" name="subject"
               placeholder="Enquiry about {...}" class="form-control"
               value="{{ subject }}"/>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" type="text" name="email"
               placeholder="name@example.com" class="form-control"
               value="{{ email }}"/>
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Your message"
                  class="form-control" rows="5">{{ message }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>
{% endblock %}
