{% block content %}
<div class="iframe-able">
    <div class="container">
        <div class="inner-container">
            <img class="side-img" src="{{ url_for('static', filename='images/icon.png') }}">
            <div class="scores-container {{ score_display|default('scores-unfilled') }}">
                <div class="scores">
                    <h1>{% block title %} {{ company.title() }} {% endblock %}</h1>
                </div>
                <div class="scores">
                    {% if customer_service == 0 %}
                    <div class="score scores0">Customer Service and Care
                        <div class="score-circle"></div>
                    </div>
                    {% elif customer_service == 2 %}
                    <div class="score scores2">Customer Service and Care
                        <div class="score-circle"></div>
                    </div>
                    {% else %}
                    <div class="score scores1">Customer Service and Care
                        <div class="score-circle"></div>
                    </div>
                    {% endif %}
                    {% if reliability == 1 %}
                    <div class="score scores1">(Software) Reliability
                        <div class="score-circle"></div>
                    </div>
                    {% elif reliability == 0 %}
                    <div class="score scores0">(Software) Reliability
                        <div class="score-circle"></div>
                    </div>
                    {% else %}
                    <div class="score scores2">(Software) Reliability
                        <div class="score-circle"></div>
                    </div>
                    {% endif %}
                    {% if responsibility == 1 %}
                    <div class="score scores1">Responsibility
                        <div class="score-circle"></div>
                    </div>
                    {% elif responsibility == 2 %}
                    <div class="score scores2">Responsibility
                        <div class="score-circle"></div>
                    </div>
                    {% else %}
                    <div class="score scores0">Responsibility
                        <div class="score-circle"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    :root {
        --color-score-0: darkred;
        --color-score-1: orangered;
        --color-score-2: darkgreen;
        --border-color: {{ border_color|default('black') }};
        --base-font-family: {{ font_family|default('Verdana') }};
        font-size: 16px;
    }

    .iframe-able {
        background-color: {{ color_bg|default('white') }};
    }

    .iframe-able * {
        margin: 0;
        font-family: var(--base-font-family);
        font-size: 0.8rem;
        font-weight: bold;
    }

    .iframe-able h1 {
        font-family: Magneto;
        font-size: 1.5rem;
    }

    .iframe-able .side-img {
        width: 10%;
    }

    .iframe-able .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .iframe-able .inner-container {
        display: flex;
        gap: 10px;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        background-color: {{ color_container|default('rosybrown') }};
        border: 1px solid var(--border-color);
        border-radius: 10px;
    }

    .iframe-able .scores {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        flex-wrap: wrap;
    }

    .iframe-able .scores-filled .score-circle {
        display: none;
    }

    .iframe-able .scores-filled .scores0 {
        background-color: var(--color-score-0) !important;
        color: white;
    }

    .iframe-able .scores-filled .scores1 {
        background-color: var(--color-score-1) !important;
    }

    .iframe-able .scores-filled .scores2 {
        background-color: var(--color-score-2) !important;
        color: white;
    }

    .iframe-able .scores-unfilled .scores0 .score-circle {
        background-color: var(--color-score-0) !important;
    }

    .iframe-able .scores-unfilled .scores1 .score-circle {
        background-color: var(--color-score-1) !important;
    }

    .iframe-able .scores-unfilled .scores2 .score-circle {
        background-color: var(--color-score-2) !important;
    }


    .iframe-able .scores-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;
    }

    .iframe-able .scores .score {
        background-color: white;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        padding: 10px;
        flex: 1;
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: space-between;
    }

    .score-circle {
        background-color: white;
        border: 1px solid var(--border-color);
        border-radius: 16px;
        padding: 10px;
    }

    @media (max-width: 600px) {
        .iframe-able .inner-container {
            flex-direction: column;
        }

        .iframe-able .side-img {
            width: 30%;
            max-width: 80px;
        }
    }

    @media (max-width: 475px) {
        .iframe-able .scores {
            flex-direction: column;
        }
    }

</style>
{% endblock %}