{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Iframe creator {% endblock %}</h1>
    {% include 'iframe.html' with context %}
    <hr>
    <label for="color-bg">Iframe Background Color</label>
    <input id="color-bg" type="text" data-coloris>
    <label for="color-container">Background Color</label>
    <input id="color-container" type="text" data-coloris>
    <label for="color-border">Border Color</label>
    <input id="color-border" type="text" data-coloris>
    <label for="score-display">Score Display</label>
    <select id="score-display" >
        <option value="circle">Circle</option>
        <option value="filled">Filled</option>
    </select>
    <label for="font-family">Font Family</label>
    <input id="font-family" type="text">
    <script>
        document.getElementById('color-bg').addEventListener('input', function() {
            const color = this.value;
            document.querySelector('.iframe-able').querySelector('.container').style.backgroundColor = color;
        });
        document.getElementById('color-container').addEventListener('input', function() {
            const color = this.value;
            document.querySelector('.iframe-able .inner-container').style.backgroundColor = color;
        });
        document.getElementById('color-border').addEventListener('input', function() {
            const color = this.value;
            document.documentElement.style.setProperty('--border-color', color);
        });
        document.getElementById('score-display').addEventListener('change', function() {
            const value = this.value;
            if (value === 'circle') {
                document.querySelector('.scores-container').classList.remove('scores-filled');
                document.querySelector('.scores-container').classList.add('scores-unfilled');
            } else {
                document.querySelector('.scores-container').classList.remove('scores-unfilled');
                document.querySelector('.scores-container').classList.add('scores-filled');
            }
        });
        document.getElementById('font-family').addEventListener('input', function() {
            const font = this.value;
            document.documentElement.style.setProperty('--base-font-family', font);
        });
    </script>
{% endblock %}