{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome {% endblock %}</h1>
    {% for article in articles %}
        <a href="{{ url_for('article', article_id=article['id']) }}">
            <h2>{{ article['headline'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ article['created'] }}</span>
        <a href="{{ url_for('edit', id=article['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}