{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['headline'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <p>{{ post['content'] }}</p>
    <p><b>Customer Service and Care:</b> {{ post['score_openai_customer_service'] }}</p>
    <p>{{ post['ex_score_openai_customer_service'] }}</p>
    <p><b>(Software) Reliability:</b> {{ post['score_openai_reliability'] }}</p>
    <p>{{ post['ex_score_openai_reliability'] }}</p>
    <p><b>Responsibility:</b> {{ post['score_openai_responsibility'] }}</p>
    <p>{{ post['ex_score_openai_responsibility'] }}</p>

{% endblock %}