{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} The Scandal Sandal Privacy Statement {% endblock %}</h1>

<p>The privacy statement applies to all individuals whose personal data we process. This includes, among others, our visitors, customers, business contacts, and other individuals who have contacted us. We handle your personal data with care and do so in accordance with relevant laws and regulations, including the General Data Protection Regulation (GDPR), the guidelines of the Data Protection Authority, and other applicable laws and regulations. In this privacy statement, you can read which personal data we use for which purposes and how we protect your personal data.</p>

<h2>Processing of Personal Data</h2>

<p>If you have (had) contact with The Scandal Sandal, we process your personal data. Personal data includes all information traceable to you as an individual, such as name and address details, contact details, and your IP address. We receive this information from you when you visit our website, create an account, and fill in certain information or when you contact our customer service. We use your data to facilitate your use of our API model. Otherwise, we will only use this data with your permission. You can withdraw this permission at any time by contacting our customer service.</p>

<h2>Which Data Do We Process?</h2>

<p>If you use the products and services of The Scandal Sandal, various personal data are processed. We distinguish between registration data and billing information. Registration data are, for example, name and address and contact details that are registered when using The Scandal Sandal. Billing information includes your payment details, billing addresses, and history of transactions.</p>

<h2>What Do We Use Your Personal Data For?</h2>

<p>If you register to use our API model, we need your name, email address, billing address, and payment details to execute your registration and keep you informed about it. If you create an account with The Scandal Sandal, we store your data on a Secure Server. In your account, we save details such as your name, address, phone number, email address, and billing details. This way, you don't have to fill in this information with every new transaction. To make using The Scandal Sandal as pleasant as possible, we store your personal data and the details regarding your use of our services, provided you have given permission for this. This allows us to personalize the website and recommend services that you might find interesting. With your permission, we use your data to inform you about special offers and promotions. Besides these reasons, your personal data is also processed for debtor and creditor administration and handling complaints.</p>

<h2>How Do We Secure Your Data?</h2>

<p>We do everything we can to ensure the reliability, security, and integrity of the data we collect. We take appropriate technical and organizational measures to protect your personal data against loss or any form of unlawful processing. Parts of our website are encrypted with a Secure Sockets Layer (SSL) connection. SSL is a method to securely exchange data over the internet between the website and the web browser. This ensures your personal data is always fully protected and transmitted encrypted over the internet so that eavesdroppers have no chance. Access to your personal data is also limited for employees.</p>

<h2>When Do We Share Your Data with Third Parties?</h2>

<p>The Scandal Sandal will not sell your personal data to third parties and will only make them available to third parties involved in executing your registration or aggregate them in such a way that they cannot be traced back to personal level. Your data may be shared within the organization. Necessary data are, for example, provided to the company handling the hosting and technical support of the website.</p>

<h2>Who Has Access to Your Data?</h2>

<p>Our employees who need your data to perform their duties (such as sales and execution of additional processes) have access to your personal data.</p>

<h2>How Long Do We Retain Your Data?</h2>

<p>Your data will not be kept longer than necessary for the purpose of the processing.</p>

<h2>What Are Your Rights?</h2>

<p>Regarding your personal data, you have the following rights:</p>

<ul>
    <li><strong>Right of Access (Article 15 GDPR)</strong>: You have the right at any time to ask us whether your personal data are being processed and, if so, which data and how and why they are being processed.</li>
    <li><strong>Right to Rectification (Article 16 GDPR)</strong>: If there are inaccuracies in the data processing, you have the right to ask us to correct or complete your personal data.</li>
    <li><strong>Right to Erasure (Article 17 GDPR)</strong>: You have the right to request us to delete all your personal data. As we are required by law to retain certain personal data in some cases, we may not always be able to comply with your request.</li>
    <li><strong>Right to Restriction of Processing (Article 18 GDPR)</strong>: If we are allowed to store your data but not use it, you have the right to request the restriction of the processing of your personal data.</li>
    <li><strong>Right to Data Portability (Article 20 GDPR)</strong>: Under certain conditions, you have the right to receive a copy of your personal data that we hold as a data controller, so that those data can be transferred to another data controller.</li>
    <li><strong>Right to Object to Processing (Article 21 GDPR)</strong>: In certain cases, you have the right to ask us not to use your personal data anymore.</li>
</ul>

<p>If you wish to exercise the above rights, you can contact our customer service. In principle, we respond to your request within four weeks.</p>

<h2>Where Can You Go If You Are Dissatisfied with the Processing?</h2>

<p>If you have complaints about how we handle your personal data, you have the right to file a complaint. Please contact our customer service for this. You also have the right to submit this complaint to the Data Protection Authority.</p>

<h2>Contact Information</h2>

<p>The Scandal Sandal, located at Wijnhaven 107, 3011 WN Rotterdam, is responsible for the processing of data as described in this privacy statement. You can reach our customer service by email at <a href="mailto:the.scandal.sandal@gmail.com">the.scandal.sandal@gmail.com</a>.</p>

<p>We reserve the right to adjust the privacy statement. Changes will be published on this website.</p>
{% endblock %}